@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
*{
    border: 0px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: lato, sans-serif;
    
}
body{
    background-color: gainsboro;
}
h2, h3{
    font-family: 'Sacramento', cursive;
}
p{
    line-height: 1.5;
}

h2{
    font-size: 4rem;
}



header{
    background-color:rgb(233, 233, 233);
   
}

.container{
    width: 80vw;
    margin: 0px auto;
 
  
    
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    width: 100%;
    }

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 16px 12px;
}

.logo{
    padding: 16px;
}
.couverture{
     background-image: url(./image/cocktails-1869868_1920.jpg); 
     background-repeat: no-repeat;
     background-size: cover;
    }
    .herosection{
        height: 85vh;
    }
.usp{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    .flex{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        /* background-color: blue; */
    }
    h1{
        color: white;
        font-size: 4em;
        padding-bottom:32px ;
    }
    .usp a{
        border: 1px solid white;
        border-radius: 8px;
        color: white;
        padding: 16px 32px;
        font-weight: bolder;
        font-size: 18px;
        background-color: white;
        background-color: rgb(39, 114, 39);
        text-decoration: none;
        
    }
    .usp a:hover{
        background-color: rgb(28, 84, 28);
        color: red;
    }
   
    .presentation{
        padding: 80px 0px;
     
        
        
    }
    .nav{
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      padding: 16px;
        
    }
    .nav h3{
        padding-bottom: 15px;
        font-size: 2em;
    }
    .option a{
        text-decoration: none;
        color: black;
        transition: 200ms ease-in-out;
        /* background-color: black; */
        padding: 16px 12px;
}


.option a:hover{
    box-shadow: 0px 2px 0px 0px red;
    font-weight: bold;
}

    
 
    .blue{
        background-color: blue;
       
        background-image: url(./image/photo1.jpg);
        background-repeat: no-repeat;
        background-size: cover
    }
    .orange{
        background-color: orange;
        
        background-image: url(./image/photo2.jpg);
        background-repeat: no-repeat;
        background-size: cover
    }
    .green{
        background-color:green;
        
        background-image: url(./image/photo3.jpg);
        background-repeat: no-repeat;
        background-size: cover
    }
    .pink{
        background-color: pink;
       
        background-image: url(./image/fruit-4186310_1920.jpg);
        background-repeat: no-repeat;
        background-size: cover
    }
    .yellow{
        background-color: yellow;
        
        background-image: url(./image/italian-cuisine-2378729_1920.jpg);
        background-repeat: no-repeat;
        background-size: cover
    }
    .maroon{
        background-color: maroon;
        height: 200px;
        width: 200px;
        background-image: url(./image/olive-oil-1412361_1920.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .item{
        display: block;
        height: 200px;
        width: 100%;
        transition: all 300ms ease-in-out;
    }

    .item:hover{
        cursor: pointer;
        box-shadow: 0px 2px 12px 0px rgba(47, 46, 46, 0.379);
        border: 2px solid whitesmoke;
    }
    .ensemble{
        display: flex;
        /* padding: 32px; */
        /* background-color: black; */
        margin-top: 16px;
        /* background-color: red; */
        justify-content: space-between;
        /* align-content: stretch; */
        gap: 16;

       
        
    }
    .menu{
        /* width: 20vw; */
        /* height: 410px; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: brown;
        color: white;
        padding: 32px 40px;
        width: 300px;
        text-align: center;
        margin-right: 16px;
        /* flex-grow: 1; */
    }

    .plat{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
        grid-auto-rows: minmax(100px, auto);
        /* background-color: cadetblue; */
       flex-grow: 5;
        
        

    }

    .menu p{
        
        font-size: 14px;
        margin: 12px 0px;
        line-height: 1.5;
    }
   
     
    .menu  ul li{
        list-style-type: none;
       padding: 6px 0px;
       font-size: 12px;
    }
 
    .btn {
            border: 0.1px solid white;
            color: rgb(240, 240, 240);
            padding: 16px 64px;
            font-size: 18px;
            background-color: transparent;
            text-decoration: none;
            transition: 300ms ease-in-out;
            
        }

        .btn:hover{
            background-color: rgb(28, 84, 28);
            cursor: pointer;
        }
   
    

    
 
   .description-usp{
      padding: 24px;
        text-align: center;
     } 
    .description-usp h3{
        padding-bottom: 15px;
        font-size: 2em;
    }
    .signature p{
        padding: 24px;
        color:red;
    }

    .usp-special{
        /* height: 300px; */
        width: 300px;
        background-color: brown;
        display: block;
        color: white;
        padding: 24px;
        text-align: center;
        margin-right: 16px;
    }
    .usp-special h1{
        text-align: center;
        font-size: 2em;
    }
    .usp-special p{
        padding: 24px;
    }
    .gateau{
        width: 700px;
        /* height: 300px; */
        background-image: url(./image/fraises_3.webp);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .special-offer{
        display: flex;
        /* padding: 64px; */
    }
    .explication p{
        text-align: center;
        padding: 24px;
        }
      .explication .signature{
            padding: 24px;
            color:red;
            text-align: center;
        }
        .photo-adresse{
            background-image: url(./image/berries-2277_1920.jpg); 
            background-repeat: no-repeat;
            background-size: cover;
        }